.App {
  text-align: center;
  margin: 20px;
}

.header{
  color: rgb(24, 89, 89);
  text-align: center;
}
.display{
  margin-left: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student-info {
  display: flex;
  justify-content: space-between;
}

.input-row {
  display: flex;
  margin-bottom: 10px;
}

.input-row > * {
  margin-right: 10px;
}

.input-row input {
  flex: 1;
}

.student-name,
.student-grade {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: aliceblue;
}

.student-name {
  margin-right: 10px;
}

.submit-button {
  width: 100px;
}